# Rust
/target/
**/*.rs.bk
*.json
*.TAG
*.lock
**/target/
*:Zone.Identifier

# Ting vi vil ha med
!/libs/

# Go
/bin/
/pkg/
**/*.exe
**/*.exe~
**/*.dll
**/*.so
**/*.dylib
**/*.test

# C
*.o
*.a
*.so
*.exe

# D
*.o
*.a
*.so
*.exe

# Java
*.class
*.jar
*.war
*.ear
/target/
/bin/
/build/

# PHP
vendor/
*.log
*.cache
*.tmp
Byrokritiet_i_tokio/process_log.csv
